<p>Thanks for reserving a spot at <%= @restaurant.name %>!</p>
<p>The owner, <%= @restaurant.owner %>, has been notified and is looking forward to your visit.</p>
<p>Review of your reservation:</p>
<ul>
	<li>Date: <%= @reservation.date.strftime("%b %d, %Y") %></li>
	<li>Time: <%= @reservation.time.strftime("%I:%M%P") %></li>
	<li>Address: <%= @restaurant.address %></li>
</ul>
<p>Reserver Notes: <%= @reservation.message %></p>
