<div class = "category-search-box">
	<%= form_tag restaurants_path, method: "get", id: "restaurant-search" do %>
	  <p><%= label_tag(:search, "Search by category tags:") %></p>
	  <p><%= text_field_tag :search, params[:search] %></p>
	  <%= submit_tag("Search", class: "btn btn-primary") %>
	  <% if owner_signed_in? %>
		<%= link_to "New Restaurant", new_owner_restaurant_path(current_owner), class: "btn" %>
		<% end %>
	<% end %>
</div>

<div id = "restaurants"><%= render "restaurants/restaurant" %></div>