

<%= form_for @restaurant do |f| %>
	<div><%= f.text_field :name, placeholder: "Restaurant name" %></div>
	<div><%= f.text_area :description, size: "16x12", placeholder: "Restaurant description" %></div>
	<div><%= f.text_field :address, placeholder: "Address" %></div>
	<div><%= f.text_field :phone_number, placeholder: "Phone number" %></div>
		<%= f.submit "Create", class: "btn btn-primary" %>
<% end %>