<%= image_tag @restaurant.photo_url(:mast_head).to_s %>
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>

<%= link_to "Edit", edit_restaurant_path(@restaurant), class: "btn btn-primary" %>
<%= link_to "Delete", restaurant_path(@restaurant), class: "btn btn-danger",
						method: :delete, data: { confirm: "Are you sure?" }
	%>