<h1>Categories of Places I Like</h1>

<table class = "table table-hover">
  <tr>
    <th>Name</th>
    <th>Number of Places</th>
    <% if current_owner.try(:admin?) %>
      <th>Actions</th>
    <% end %>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><span class= "label" ><%= category.name %></span></td>
    <td><%= category.restaurants.count %></td>
    <% if current_owner.try(:admin?) %>
      <td>
        <%= link_to 'Show', category %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>
