
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href= <%= root_path %>>Reservester</a>
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Owners", owners_path %></li>
      <li><%= link_to "About", "#" %></li>
      <% if owner_signed_in? %>
        <li><%= link_to "Dashboard", dashboard_path(current_owner) %></li>
      <% end %>

    </ul>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><a tabindex="-1" href="#">Regular link</a></li>
            <li class="disabled"><a tabindex="-1" href="#">Disabled link</a></li>
            <li><a tabindex="-1" href="#">Another link</a></li>
          </ul>

    <ul class="nav pull-right">
      

      <li>
      	<% if owner_signed_in? %>
      		
          






          <%= link_to "Sign Out", destroy_owner_session_path, method: :delete, class: "float-right" %>
      	<% else %>
      		<%= link_to "Sign In", new_owner_session_path, class: "float-right" %>
      	<% end %>
      </li>
    </ul>

  </div>
</div>