<!DOCTYPE html>
<html>
<head>
  <title>Reservester</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class = "container-fluid">
	<%= render "layouts/header" %>
	<p id="notice"><%= notice %></p>
	<p id="alert"><%= alert %></p>
	<%= yield %>
</div>


<div class="span12">
	</br>
	</br>
	<%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
